<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><h1>Welcome to <%= heading %></h1>
    <p> Registered User? <a href="https://127.0.0.1:8081/process_login"> click here </a> <br />First time? <a href="https://127.0.0.1:8081/process_signup">click here  </a> to begin using the dashboard </p>
    </center>
  </body>
</html>
