<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= heading %></h1>
    <p> Please <a href="https://127.0.0.1:8081/process_login"> login </a> or <a href="https://127.0.0.1:8081/process_signup"> signup </a> to begin using the dashboard </p>
  </body>
</html>
