<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <p><% if (errorMessage) { %>
	 <%= errorMessage %>
    <% } %> </p>
    <br/>
    <form action="https://127.0.0.1:8081/process_login" method="POST"> 
    <center>E-Mail ID: <input type="text" name="username">  Password: <input type="password" name="password"></center><br><center><input type="submit" value=Login ></center>
    </form><br/>
    <center><p> New User? <a href="https://127.0.0.1:8081/process_signup">Click Here</a> to sign up </p>
    <p> Forgot Password? <a href="https://127.0.0.1:8081/users/process_ForgotPassword">Click Here</a> to reset your password </p> <br/></center>
  </body>
</html>
