<html>
<head>
    <title>Complete Password Recovery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <form action="https://127.0.0.1:8081/users/process_NewPasswordReqForm" method="POST"> Type your new password<br /> <input type="password" name="Tokenbox"><br />
Re-Type to Confirm <input type="password" name="TokenboxConfirm"><br />

<input type="hidden" name="user" value= <%= userid %> >

 <input type="submit" value="Submit" >
    </form><br/>
  </body>
</html>
