<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <% if (this.ErrorMessage) { %>
    <p><%= ErrorMessage %></p><br />
    <% } %>
    <br />
    <form action="https://127.0.0.1:8081/users/process_ForgotPassword" method="POST"> Enter your emailID provided during registration<br /> <input type="text" name="recoverMailId"><br />

 <input type="submit" value="Recover Password" >
    </form><br/>
  </body>
</html>
