<html>
<head>
    <title>Complete Password Recovery</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

<form action="https://127.0.0.1:8081/users/process_CompletePasswordRecovery" method="POST"> Enter the code you recieved in your email<br /> <input type="text" name="Tokenbox"><br />

<input type="hidden" name="user" value= <%= userid %> >

 <input type="submit" value="Submit" >
    </form><br/>
  </body>
</html>
