<html>
<head>
<title>
SUCCESS
</title>
<style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }
</style>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
<center><h1> success</h1></center>
<a class="topcorner" href="https://127.0.0.1:8081/process_logout">Logout</a>
</bpdy>
</html>
